# Day 3: Print , Variable, and Creation

## 1. Printing in Python

- The print() function is used to display output on the screen.

In [69]:
print("Hello world")

Hello world

In [70]:
print("Today", "weather", "is", "Cold")

Today weather is Cold

In [71]:
print("Today is cold outside")

Today is cold outside

## 2. Printing Numbers

- You can also print integers and floating-point numbers.

In [72]:
print(7)

7

In [73]:
print(10.7)

10.7

In [74]:
print(18)

18

3. Data Types
Python has different data types such as:

- String (str): Text inside quotes
- Integer (int): Whole numbers
- Float (float): Decimal numbers
- Boolean (bool): True or False values
- Complex (complex): Numbers with real and imaginary parts

In [76]:
print(type("Hello world"))
print(type(45))
print(type(10.5))
print(type(True))
print(type(3 + 4j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## 4. Variables

```
- Variables are used to store values.
- Syntax: variable_name = value
```

In [77]:
name = "Rahul"
age = 20
height = 5.11
city = "Pune"
is_male = True

In [78]:
print(name)
print(age)
print(height)
print(city)
is_male = True

Rahul
20
5.11
Pune

## 5. Assigning Multiple Variables

In [79]:
x = y = z = 150

In [80]:
print(x, y, z)

150 150 150

In [81]:
a, b, c = 20, 40, 60
print(a, b , c)

20 40 60

## 6. Rules for Variable Names

Correct:

- Must start with a letter or underscore
- Can contain letters, numbers, underscore
- Case-sensitive (Name and name are different)
- Use descriptive names

Incorrect:

- Cannot start with a number (1student)
- Cannot use special characters (student-name)
- Cannot use Python keywords (print, for, class)
- Cannot have spaces (student name)

## 7. Boolean Values

- Boolean represents True or False.

In [82]:
is_raining = False
is_day = True

In [83]:
print(type(is_raining))
print(type(is_day))

<class 'bool'>
<class 'bool'>

## 8. Strings

Strings can be written using single quotes ' ', double quotes " ", or triple quotes ''' ''' / """ """.

In [85]:
a = "India is my country"
b = '''This is a multi-line
string example.'''

In [86]:
print(a)

India is my country

In [87]:
print(b)

This is a multi-line
string example.

# Practice Questions – Day 1 Python

1. Use `print()` to display your name, city, and favorite number.  
2. Try creating a variable with a wrong name (e.g., starting with a number) and observe the error.  
3. Create variables for product details:  
   - Product name  
   - Current price  
   - Quantity  
   Then print all variables.  
4. Write a multi-line string about your favorite place using triple quotes (`''' '''` or `""" """`).  
5. Check the data type of the following values using `type()`:  
   - `"Hello world"`  
   - `45`  
   - `10.5`  
   - `True`  
   - `3 + 4j`  
6. Assign the same value to three variables in one line and print them.  
7. Assign different values to multiple variables in one line and print them.  
8. Create a boolean variable to represent whether you like programming and print it.  

---

# Summary – Day 1 Python

In this session, we learned:  

- How to use the `print()` function to display text and numbers.  
- Different **data types** in Python:  
  - `str` (string)  
  - `int` (integer)  
  - `float` (decimal numbers)  
  - `bool` (True/False)  
  - `complex` (numbers with imaginary part)  
- How to create and use **variables** to store values.  
- Rules for naming variables correctly.  
- Assigning values to multiple variables in one line.  
- Using **strings** with single quotes, double quotes, and triple quotes for multi-line text.  
- Practicing with **boolean values** (`True` / `False`).